@function to_rem($percents) {
    @return calc($percents/16)+rem;
}

.card {
    border: to_rem(2) solid transparent;
    border-radius: to_rem(10);
    background-color: white;
    transition: .3s;
    padding: 1rem to_rem(28) 0;

    &>img {
        width: 100%;
        vertical-align: bottom;
        height: to_rem(320);
    }

    h3 {
        margin: 0;
        font-size: to_rem(24);
        font-weight: 500;
        color: black;
        text-transform: uppercase;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: to_rem(17);
        border-bottom: to_rem(2) solid black;
    }

    &__price {
        font-size: 1rem;
        color: #8e8787;
        font-weight: 500;
    }

    button {
        display: grid;
        place-items: center;
        background-color: black;
        border: none;
        width: to_rem(40);
        height: to_rem(40);
        border-radius: 100vw;
        opacity: 0;
        transition: .35s;
        cursor: pointer;

        &:hover {
            scale: 1.05;
        }

        svg {
            width: to_rem(18);
            height: to_rem(16);
        }
    }

    &:hover {
        border-color: black;

        button {
            opacity: 1;
        }
    }
}