@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

#root {
  background-color: #f2f3f7;
  min-height: 100dvh;
}

#root * {
  font-family: 'Inter', sans-serif;
}

#root a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .app {
    margin-inline: auto;
    width: 1200px;
  }
}