@function to_rem($percents) {
    @return calc($percents/16)+rem;
}

@mixin mobile {
    @media screen and (max-width: 768px) {
        @content;
    }
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: to_rem(50);
    row-gap: to_rem(10);
    margin-top: to_rem(13);

    @include mobile {
        grid-template-columns: 1fr;
    }
}

.attribute {
    display: grid;
    grid-auto-flow: column;
    gap: to_rem(11);
    align-items: center;

    &>span {
        font-size: to_rem(12);
        color: black;
        font-weight: 500;
    }

    &_bage {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: to_rem(40);
        width: to_rem(40);
        padding: to_rem(5) to_rem(10);
        border-radius: to_rem(10);
        font-size: to_rem(10);
        font-weight: 500;
        box-sizing: border-box;
        color: black;
        background-color: #dae1f1;
        text-align: center;

        img {
            width: to_rem(20);
            height: to_rem(24);
        }

        span {
            font-size: to_rem(16);
        }
    }
}